In [199]:
import pandas as pd
import random

#Task 1 Загрузка данных

Изучить представленный набор [данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [6]:
file = pd.read_csv(
    'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv',
    header=None, names=['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse','respiratory rate',
                       'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time',
                       'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux',
                       'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein',
                       'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?',
                       'first type', 'second type', 'third type', 'cp_data'], na_values='?'
)
file.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,first type,second type,third type,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [7]:
df = file[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

#Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [8]:
df[['rectal temperature', 'pulse']].max()

rectal temperature     40.8
pulse                 184.0
dtype: float64

In [9]:
df[['surgery?', 'Age', 'temperature of extremities', 'pain', 'outcome']].mode()

   surgery?  Age  temperature of extremities  pain  outcome
0       1.0    1                         3.0   3.0      1.0

In [10]:
print('Медиана пульса: ', df['pulse'].median())
print('Среднее значение пульса: ', df['pulse'].mean())
print(f'СКО ректальной температуры: ', df['rectal temperature'].std())
print(f'Дисперсия ректальной температуры: ', df['rectal temperature'].var())

Медиана пульса:  64.0
Среднее значение пульса:  71.91304347826087
СКО ректальной температуры:  0.7322886641121578
Дисперсия ректальной температуры:  0.5362466875871686

In [11]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [19]:
Q1 = df['rectal temperature'].quantile(0.15)
Q3 = df['rectal temperature'].quantile(0.95)
iqr = Q3 - Q1
lower_bound = Q1 - (1.5 * iqr)
upper_bound = Q3 + (1.5 * iqr)
remove_outliers = df[df['rectal temperature'].between(lower_bound, upper_bound)]
remove_outliers

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [21]:
df[~df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\kozlov\AppData\Local\Temp\ipykernel_22832\2099253441.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df[~df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

#Task 3 Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [24]:
(df.isna().mean()*100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [28]:
df[(df['Age'] != 1) & (df['Age'] != 2)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [231]:
repl_val = df.copy()

In [232]:
repl_val = repl_val.dropna(thresh=6)
repl_val

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [233]:
repl_val[(repl_val['surgery?'] != 1) & (repl_val['surgery?'] != 2)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [234]:
repl_val['surgery?'] = repl_val['surgery?'].fillna(repl_val['surgery?'].mode()[0])
repl_val[(repl_val['surgery?'] != 1) & (repl_val['surgery?'] != 2)]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [235]:
repl_val[repl_val['rectal temperature'].isnull()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [236]:
# repl_val['rectal temperature'] = repl_val['rectal temperature'].fillna(repl_val['rectal temperature'].median())
repl_val['rectal temperature'] = repl_val['rectal temperature'].fillna(repl_val.groupby('surgery?')['rectal temperature'].transform('median'))
repl_val[repl_val['rectal temperature'].isnull()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [237]:
repl_val[repl_val['pulse'].isnull()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
58,1.0,1,38.1,NaN,20.0,4.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
115,2.0,1,38.2,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,38.2,NaN,12.0,1.0,2.0,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0

In [238]:
repl_val['pulse'] = repl_val['pulse'].fillna(repl_val.groupby(['surgery?', 'rectal temperature'])['pulse'].transform('median'))
repl_val[repl_val['pulse'].isnull()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

Удаляем столбец с частотой дыхания, т.к. в документации указано, что норма 8 - 10. Полезность сомнительна при больших колебаниях

In [239]:
repl_val[repl_val['respiratory rate'] < 15]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
31,2.0,1,37.2,108.0,12.0,3.0,2.0,3.0
42,2.0,1,38.0,60.0,12.0,3.0,3.0,1.0
69,2.0,1,38.0,48.0,12.0,1.0,1.0,1.0
89,2.0,1,38.3,42.0,10.0,1.0,1.0,1.0
116,1.0,1,38.0,44.0,12.0,1.0,3.0,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
140,1.0,1,38.1,44.0,9.0,3.0,2.0,1.0
147,2.0,1,38.0,44.0,12.0,2.0,3.0,2.0
150,2.0,1,38.9,44.0,14.0,3.0,2.0,1.0
159,2.0,1,38.2,80.0,12.0,1.0,2.0,1.0
162,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0
177,1.0,1,38.1,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
200,1.0,1,37.3,48.0,12.0,1.0,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
209,2.0,1,37.5,44.0,10.0,3.0,3.0,1.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
215,1.0,1,37.8,40.0,12.0,1.0,1.0,1.0
222,1.0,1,38.1,112.0,13.0,4.0,2.0,1.0
223,1.0,1,37.7,66.0,12.0,1.0,3.0,1.0
224,1.0,1,38.8,50.0,14.0,1.0,3.0,1.0
258,2.0,1,37.5,52.0,12.0,1.0,2.0,1.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
286,2.0,1,37.8,82.0,12.0,3.0,4.0,3.0

In [240]:
repl_val = repl_val.drop(['respiratory rate'], axis=1)

In [241]:
(repl_val.isna().mean()*100).round(2)

surgery?                       0.00
Age                            0.00
rectal temperature             0.00
pulse                          0.00
temperature of extremities    15.11
pain                          14.39
outcome                        0.36
dtype: float64

In [242]:
repl_val[repl_val['temperature of extremities'].isnull()]

,surgery?,Age,rectal temperature,pulse,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,NaN,NaN,1.0
23,1.0,9,38.3,130.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,NaN,NaN,1.0
36,2.0,1,38.3,112.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,5.0,1.0
39,1.0,9,39.2,146.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,NaN,NaN,1.0
81,1.0,1,37.3,40.0,NaN,2.0,1.0
90,2.0,1,38.0,52.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,NaN,3.0,1.0
106,1.0,1,38.3,52.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,NaN,2.0,3.0
130,1.0,1,37.8,30.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,2.0,1.0
149,2.0,1,38.7,48.0,NaN,1.0,1.0
161,1.0,1,38.3,42.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,NaN,NaN,3.0
169,1.0,1,38.1,65.0,NaN,5.0,3.0
177,1.0,1,38.1,68.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,NaN,NaN,3.0
210,1.0,1,37.9,68.0,NaN,2.0,2.0
217,1.0,1,38.0,76.0,NaN,NaN,1.0
229,1.0,9,38.5,120.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,NaN,4.0,1.0
262,2.0,9,38.6,88.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,NaN,NaN,1.0
280,1.0,1,38.6,48.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,NaN,NaN,1.0
287,2.0,9,39.5,84.0,NaN,NaN,1.0
289,1.0,1,38.0,50.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,NaN,NaN,3.0

In [243]:
def temp_ext(table):
    if table['rectal temperature'] > 38.5:
        return 2
    elif table['pain'] == 4 or table['pain'] == 5:
        return 4
    return 1

In [244]:
repl_val.loc[repl_val['temperature of extremities'].isnull(), 'temperature of extremities'] = repl_val.apply(temp_ext, axis=1)
repl_val[repl_val['temperature of extremities'].isnull()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, temperature of extremities, pain, outcome]
Index: []

In [245]:
(repl_val.isna().mean()*100).round(2)

surgery?                       0.00
Age                            0.00
rectal temperature             0.00
pulse                          0.00
temperature of extremities     0.00
pain                          14.39
outcome                        0.36
dtype: float64

In [246]:
repl_val[repl_val['pain'].isnull()]

,surgery?,Age,rectal temperature,pulse,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,1.0,NaN,2.0
17,2.0,1,37.5,48.0,1.0,NaN,1.0
19,2.0,1,39.4,110.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,1.0,NaN,1.0
27,1.0,1,37.8,48.0,3.0,NaN,1.0
36,2.0,1,38.3,112.0,1.0,NaN,3.0
39,1.0,9,39.2,146.0,2.0,NaN,2.0
41,2.0,9,39.0,150.0,2.0,NaN,1.0
53,2.0,1,38.6,40.0,2.0,NaN,1.0
68,2.0,1,38.2,52.0,1.0,NaN,1.0
94,2.0,1,37.5,48.0,4.0,NaN,1.0
106,1.0,1,38.3,52.0,1.0,NaN,1.0
113,1.0,1,36.8,60.0,1.0,NaN,2.0
130,1.0,1,37.8,30.0,1.0,NaN,2.0
141,2.0,1,36.0,42.0,1.0,NaN,2.0
157,1.0,1,37.8,60.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,1.0,NaN,2.0
165,1.0,1,39.4,120.0,2.0,NaN,3.0
170,2.0,1,37.5,44.0,1.0,NaN,1.0
185,1.0,1,38.5,120.0,4.0,NaN,1.0
186,1.0,1,39.3,64.0,2.0,NaN,1.0
188,1.0,1,38.5,60.0,1.0,NaN,1.0
195,2.0,1,38.0,44.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,1.0,NaN,3.0
208,1.0,1,37.8,88.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,3.0,NaN,1.0
217,1.0,1,38.0,76.0,1.0,NaN,1.0
229,1.0,9,38.5,120.0,1.0,NaN,1.0
232,1.0,1,38.5,30.0,1.0,NaN,1.0
234,2.0,1,37.5,48.0,4.0,NaN,1.0
243,1.0,1,38.4,92.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,3.0,NaN,2.0
262,2.0,9,38.6,88.0,2.0,NaN,1.0
268,1.0,1,38.2,42.0,1.0,NaN,1.0
269,1.0,1,39.3,64.0,2.0,NaN,1.0
283,1.0,1,38.2,72.0,1.0,NaN,1.0
287,2.0,9,39.5,84.0,2.0,NaN,1.0
293,1.0,1,38.1,78.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,1.0,NaN,3.0

In [247]:
def pain_val(table):
    if (table['temperature of extremities'] == 3) or (table['temperature of extremities'] == 4):
        return random.choice((4, 5))
    elif (table['temperature of extremities'] == 2) or (table['surgery?'] == 2):
        return random.choice((2, 3))
    return 1

In [248]:
repl_val.loc[repl_val['pain'].isnull(), 'pain'] = repl_val.apply(pain_val, axis=1)
repl_val[repl_val['pain'].isnull()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, temperature of extremities, pain, outcome]
Index: []

In [249]:
repl_val['outcome'] = repl_val['outcome'].fillna(repl_val['outcome'].mode()[0])

In [250]:
(repl_val.isna().mean()*100).round(2)

surgery?                      0.0
Age                           0.0
rectal temperature            0.0
pulse                         0.0
temperature of extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64

In [251]:
repl_val[(repl_val['Age'] != 1) & (repl_val['Age'] != 2)]

,surgery?,Age,rectal temperature,pulse,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,1.0,5.0,1.0
13,2.0,9,38.0,92.0,1.0,1.0,2.0
16,1.0,9,38.1,128.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,1.0,2.0,1.0
39,1.0,9,39.2,146.0,2.0,2.0,2.0
41,2.0,9,39.0,150.0,2.0,3.0,1.0
55,1.0,9,38.6,160.0,3.0,3.0,2.0
75,1.0,9,39.7,100.0,3.0,2.0,3.0
82,1.0,9,38.1,100.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,3.0,5.0,2.0
191,2.0,9,38.2,100.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,1.0,3.0,1.0
229,1.0,9,38.5,120.0,1.0,1.0,1.0
244,1.0,9,38.2,124.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,2.0,3.0,1.0
275,1.0,9,38.8,150.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,2.0,2.0,1.0

In [252]:
repl_val.loc[(repl_val['Age'] != 1) & (repl_val['Age'] != 2), 'Age'] = repl_val['Age'].mode()[0]
repl_val[(repl_val['Age'] != 1) & (repl_val['Age'] != 2)]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, temperature of extremities, pain, outcome]
Index: []

In [253]:
repl_val

,surgery?,Age,rectal temperature,pulse,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,2.0,3.0,3.0
2,2.0,1,38.3,40.0,1.0,3.0,1.0
3,1.0,1,39.1,164.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,1.0,3.0,2.0
...,...,...,...,...,...,...,...
295,1.0,1,38.1,120.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,1.0,1.0,3.0